body {
	width: 99%;
	min-width: 1025px;
    background-size: 70px 70px;
    background-color: #726144;
    background-image: linear-gradient(to right, #5a4e39 50%, transparent 50%, transparent);
   
}
.one {
    width: 50px;
    background-color: red;
}
header {
    opacity: 0.5;
    width: 100%;
    background-color: white;
    height: 3%;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}
.action {
    text-align: center;
        
}
.doing {
    color: white;
    opacity: 0.75;
}
#completeAll:hover {
    opacity: 0.8;
    background-color: gray;
}
#completeAll {
	margin-left: auto;
	background-color: transparent;
	color: white;
    width: 15%;
	height: 40px;
    font-size: 80%;
    border: 3px solid;
	border-radius: 30px;
	border-color: antiquewhite;
}
#deleteAll:hover {
	opacity: 0.8;
    background-color: gray;
}
#deleteAll {
	margin-left: auto;
	background-color: transparent;
	color: white;
    width: 15%;
	height: 40px;
    font-size: 80%;
    border: 3px solid;
	border-radius: 30px;
	border-color: antiquewhite;
}
.search {
	width: 100%;
}

#addMis {
	width: 100px;
	height: 42px;
	text-align: center;
	border: none;
    background-color: deepskyblue;
    opacity: 0.5;
	float: left;
    font-size: 130%;
    border-radius: 0px 10px 10px 0px;
    margin-top: 20px;
	transition: 0.5s;
}
#titleMis {
	margin-left: 30%;
	border: none;
    opacity: 0.5;
    width: 40%;
	float: left;
    height: 40px;
    text-align: center;
    font-size: 130%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 20px;
}
#allList {
	margin: auto;
	margin-top: 150px;
}
li {
	width: 100px;
	height: 50px;
	background-color: white;
	margin-left: 30%;
	margin-top: 20px;
	border: none;
    opacity: 0.5;
    width: 40%;
    height: 40px;
    text-align: center;
    font-size: 150%;
    border-radius: 15px;
	list-style-type: none;
}
#close:hover {
	background-color: red;
}
#close {
	opacity: 0.5;
	width: 30px;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-size: 25px;
}
.complete {
	text-decoration: line-through;
	background-color: grey;
}